body {
    background-color: #e4d1c0;
}
    
h1 {
color: #cbd8e5;
text-align: center;
font-family: Verdana, Helvetica;
}
h2 {
color: #f8fbeb;
text-align: center;
font-family: Verdana, Helvetica;
}

a {
   background-color: #507b49;
   text-decoration: underline;
   font-family: Verdana, Helvetica;
   padding: 1px;
   color: #f0f0f0;
   border-bottom: 1px solid;
   border-bottom-color: rgba(15, 122, 252, 0.2);
 }

 a:hover {
   text-decoration: underline;
   color: #333;
   border-bottom-color: rgba(208, 64, 0, 0.2);
 }

 a:visited {
   text-decoration: underline;
   color:#c44e4f;
   border-bottom-color: rgba(128, 0, 128, 0.2);
 }

.discr {
    color: black;
    font-family: Verdana, Helvetica;
    text-align: right;
    }

.head {
   color: #cbd8e5;
   font-family: Verdana, Helvetica;
   font-size: large;
}
.head-2 {
   color: #cbd8e5;
   font-family: Verdana, Helvetica;
   font-size: large;
   text-align: center;
}

header {
     text-align: center;
     font-family: Verdana, Helvetica;
     background-image: url(../images/bg.jpg);
     height: 400px;
     background-repeat: no-repeat;
     background-position: left;
     background-color: #e4d1c0;
     background-attachment: fixed;
     background-size: cover;
     padding-top: 100px;
     padding-left: 250px;
}
  
.nav-flex {
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     flex-wrap: nowrap;
     justify-content: space-around;
     background-color: #507b49;
    }
    
.nav-flex-item {
    list-style-type: none;
    padding: 10px;
    margin-right: 5px;
    border-left: 5px solid #507b49;
    text-transform: uppercase;
    background-color: #507b49;
    }
.nav-flex-item:hover {
    background-color: #acb78e;
    }
.wrapper {
margin: 0 auto;
width: 100%;
background-color: #507b49;
}
.wrapper-2 {
  margin: 0 auto;
  width: 100%;
  background-color: #acb78e;
  }


footer {
   position: relative;
   width: 100%;
   padding: 10px 30px;
   background: #507b49;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 100px;
}
.social,
.menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.social li,
.menu li{
    list-style: none;
}
.social li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer p {
    color: #fff;
    font-family: Verdana, Helvetica;
    text-align: center;
    margin-top: 15px;
    font-size: 1.1em;
}
  
.sign{
      float: right; 
      border: 1px solid #333; 
      padding: 7px; 
      margin: 10px 0 5px 5px; 
      background: #f0f0f0; 
     }
     .sign figcaption {
      margin: 0 auto 5px; 
     }
   .text {
      display: inline-block;
      width: 70%;
      padding: 5px 5px 5px 60px;
      box-sizing: border-box;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: auto;
    }
    
.images {
      margin-left: 30px;
      padding: 5px 5px 5px 60px
    }
    
    b {
      display: block;
    }
    .table-1 {
      border: 2px solid;
      position: center;
      margin-left: auto;
      margin-right: auto;
    }
    th {
      font-weight: normal;
      font-family: Verdana, Helvetica;
      font-size: 20px;
      color: #cbd8e5;
      text-transform: uppercase;
      border-right: 1px solid;
      border-top: 1px solid;
      border-left: 1px solid;
      border-bottom: 1px solid;
      padding: 20px;
    }
    td {
      border-right: 2px dashed;
      border-left: 2px dashed;
      border-top: 2px dashed;
      padding: 10px 20px;
    }
    .tble {width: 100%; text-align: center; border-bottom: 2px solid #acb78e; border-radius: 6px; border-collapse: separate; border-spacing: 0px;}
.tble thead tr {color: #acb78e; font-weight: bold; font-family: Verdana, Helvetica; background: #c83240;}
.tble tr td {border-right: 1px solid #acb78e;}
.tble tr td:last-child {border-right: 0px;}
.tble tbody tr:nth-child(1n) {background: #acb78e;}
.tble tbody tr:nth-child(2n) {background: #acb78e;}
.tble tbody tr:hover {background: #ffe8e8; transition-duration: 0.6s;}
   
   .block {
      flex: 1 0;
      width: 50%;
   }
   .markers li::marker {
      color: #b9ff03;
      font-size: 18px;
      margin: 0 0 20px 14px;
	padding: 0;
   }
.btn {
      margin-left: 50%;
      margin-right: 50%;
      width: 10em; 
      height: 3em;
      color: #333; 
    font-family: monospace; 
    font-size: 1.4em; 
    font-weight: bold;  
    margin-bottom: 1rem; 
    border-radius: 0.4em;
    background-color: #b9ff03;
    border-width: 0; 
    border-bottom: 4px solid #90aa0b; 
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.8);
}
.tble {
	width: 100%;
	border: none;
	margin-bottom: 20px;
}
.tble thead th {
	font-weight: bold;
  font-family: Verdana, Helvetica;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: white;
	font-size: 14px;
  border-top: 1px solid #ddd;
}
.tble tr td:first-child {
	border-left: 1px solid #ddd;
}
.tble tr th:last-child, .table tr td:last-child {
	border-right: 1px solid #ddd;
}
.tble thead tr th:first-child {
	border-radius: 20px 0 0 0;
}
.tble thead tr th:last-child {
	border-radius: 0 20px 0 0;
}
.tble tbody td {
	text-align: left;
  font-family: Verdana, Helvetica;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
.tble tbody tr:nth-child(even) {
	background: #507b49;
}
.tble tbody tr:last-child td{
	border-bottom: 1px solid #acb78e;
}
.table tbody tr:last-child td:first-child {
	border-radius: 0 0 0 20px;
}
.table tbody tr:last-child td:last-child {
	border-radius: 0 0 20px 0;
}
li {
  list-style: none; 
  text-indent: -1em; 
 }
 li::before {
  content: '\25ba'; 
  padding-right: 5px; 
  color: #f38554;
 }
 .text {
  font-family: Verdana, Helvetica;
  color:aliceblue;
  display: inline-block;
  text-align: top;
 }
 * {
  padding: 0;
  margin: 0;
  border: 0;
}

.parent_div {
  display: flex;
  flex-wrap: wrap;
}

.container {
  flex: 1 1 25%;
  width: 250px;
  height: 300px;
  background: #c9a0dc;
  display: flex;
  margin: 30px 60px;
  border-radius: 70px;
  align-items: center;
  justify-content: center;
}
.img-1 {
  float: right;
}
.TABLE {
  width: 300px; /* Ширина таблицы */
  border-bottom: 2px solid maroon; /* Линия внизу таблицы */
  
 }
 .TH {
  background: maroon; /* Цвет фона заголовка */
  color: white; /* Цвет текста */
  text-align: left; /* Выравнивание по левому краю */
 }
 .TD, TH {
  padding: 3px; /* Поля вокруг текста */
 }