body {
    background-color: #479784
}
    
h1 {
color: #cbd8e5;
text-align: center;
}
h2 {
color: #f8fbeb;
text-align: center;
}

a {
   background-color: #039487;
   text-decoration: underline;
   padding: 1px;
   color: #f0f0f0;
   border-bottom: 1px solid;
   border-bottom-color: rgba(15, 122, 252, 0.2);
 }

 a:hover {
   text-decoration: underline;
   color: #333;
   border-bottom-color: rgba(208, 64, 0, 0.2);
 }

 a:visited {
   text-decoration: underline;
   color:darkmagenta;
   border-bottom-color: rgba(128, 0, 128, 0.2);
 }

.discr {
    color: black;
    text-align: right;
    }

.head {
   color: #cbd8e5;
   font-size: large;
}
.head-2 {
   color: #cbd8e5;
   font-size: large;
   text-align: center;
}

header {
     text-align: center;
     background-image: url(../images/bg.jpg);
     height: 400px;
     background-repeat: no-repeat;
     background-position: left;
     background-color: #1f6a7d;
     background-attachment: fixed;
     background-size: cover;
     padding-top: 100px;
     padding-left: 250px;
    }
  
.nav-flex {
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     flex-wrap: nowrap;
     justify-content: space-around;
     background-color: #039487;
    }
    
.nav-flex-item {
    list-style-type: none;
    padding: 10px;
    margin-right: 5px;
    border-left: 5px solid #039487;
    text-transform: uppercase;
    background-color: #039487;
    }
.nav-flex-item:hover {
    background-color: #b8d7a6;
    }
.wrapper {
margin: 0 auto;
width: 100%;
background-color: #039487;
}


footer
{
 padding: 1rem 3rem 1rem 3rem;
}
.footer {
   background-color: #039487;
    right: 0;
    bottom: 0;
    text-align: center; 
    width: 99%;   
    font-size: 19px;
 font-weight: bold;
   color: #cbd8e5;  
  }
  
.sign {
      float: right; 
      border: 1px solid #333; 
      padding: 7px; 
      margin: 10px 0 5px 5px; 
      background: #f0f0f0; 
     }
     .sign figcaption {
      margin: 0 auto 5px; 
     }
   .text {
      display: inline-block;
      width: 70%;
      padding: 5px 5px 5px 60px;
      box-sizing: border-box;
      text-align: center;
      float: inline-start;
    }
    
    .images {
      margin-left: 30px;
      padding: 5px 5px 5px 60px
    }
    
    b {
      display: block;
    }
    table {
      border: 2px solid;
      position: center;
    }
    th {
      font-weight: normal;
      font-size: 20px;
      color: #cbd8e5;
      text-transform: uppercase;
      border-right: 1px solid;
      border-top: 1px solid;
      border-left: 1px solid;
      border-bottom: 1px solid;
      padding: 20px;
    }
    td {
      border-right: 2px dashed;
      border-left: 2px dashed;
      border-top: 2px dashed;
      padding: 10px 20px;
    }
    .tbl {
    text-align: center;
    font-size: 20px;
    color: #cbd8e5;
    font-family: Apple Chancery;
    }
    .block__section {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      margin: 0;
      padding: 0;
      flex-direction: row;
   }
   
   .block_text__span {
      background: #b8d7a6;
      color: #cbd8e5;
      padding: 0 8px;
      margin-right: 6px;
      height: 10px;
   }
   
   .title_pattern {
      height: 14px;
      margin-top: 29px;
   }
   
   .block {
      flex: 1 0;
      width: 50%;
   }
   